{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% extends "base.html" %}

{% block content %}
    <h2>Welcome to the Library Management System</h2>
    <p>
        Welcome to our Library Management System. We provide you with a simple and efficient way to manage books,
        members, and transactions in the library. You can easily keep track of available books, issue books to members,
        and manage book returns using our system.
    </p>
    <p>
        Our system allows librarians to perform various operations, such as adding new books and members, searching for
        books by name and author, issuing books to members, and processing book returns. Additionally, the system can
        calculate rent fees on book returns and ensure that a member's outstanding debt is not more than Rs. 500.
    </p>
{% endblock %}